@mixin box-shadow($value) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
}

@mixin border-radius($value) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;
}

@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -o-transition: $value;
  transition: $value;
}

@mixin transform($value) {
  -ms-transform: $value;
  -moz-transform: $value;
  -webkit-transform: $value;
  -o-transform: $value;
  transform: $value;
}

@mixin select($value) {
  -webkit-touch-callout: $value;
  -webkit-user-select: $value;
  -khtml-user-select: $value;
  -moz-user-select: $value;
  -ms-user-select: $value;
  user-select: $value;
}

%flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-parent($direction: row, $wrap: wrap, $justify-content: flex-start, $align-items: null) {
  @extend %flex;

  flex-direction: $direction; 
  flex-wrap: $wrap;
  justify-content: $justify-content;

  @if ($align-items) {
    align-items: $align-items;
  }
}

@mixin square($size, $isFlex: false) {
  height: $size;

  @if ($isFlex) {
    flex-basis: $size;
  } @else {
    width: $size;
  }
}